* {
  box-sizing: border-box;
}


body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;


  background: white;
  user-select: none;
  -webkit-app-region: drag;
}

.app {
  padding: 16px;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.title-bar {
  display: flex;
  justify-content: flex-end;
  padding: 4px;
}

#closeBtn {
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  font-size: 20px;
  color: #666;
  border-radius: 4px;
}

#closeBtn:hover {
  background: #e81123;
  color: white;
}